/* IMPOSTAZIONI GENERALI */
html {font-size: 69%}

body {
    margin: 0 auto;   
    font: 1.5rem/1.8 'Fira Sans', sans-serif;
    color: #000;
}

* {box-sizing: border-box;}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h1, h2, h3 {
    line-height: 1;
}

i{
    font-size: 3rem;
    color: #e42424;
    padding: 0.5rem;
}

button {
    font-size: 1.9rem;
    background-image: linear-gradient(to right, #6cc1e2, #392f7a);
    border: none;
    padding: 1.5rem;
}

button a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #e42424;
}

img {
    width: 100%;
    margin: 0.5rem 0;
}

/* HEADER */
header {
    background-color: white;
    box-shadow: 0 3px 10px #d3d3d3;
    padding: 1.5rem 1.5rem 0 1.5rem;
    position: sticky;
    top: 0;
    z-index: 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
}

header a img {
    margin: 0 0 1rem 0;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: grey;
}

header nav ul li button a {
    color: white;
}

/* meatballs menu */
input#menu-button {
    display: none;
}

input#menu-button:checked ~ nav {
    height: 18rem;
}

@media screen and (max-width: 768px) {
    header nav {
        height: 0;
        text-align: center;
        overflow: hidden;
        position: relative;
        width: 100%;
        margin: 1.5rem 0 0 0;
        transition: height 0.5s ease-out;
    }

    #meatballs {
        font-size: 3rem;
    }

    header nav ul li {
        padding: 0.5rem;
    }

    header a img {
        margin: 0;
    }

    header nav ul li button {
        transform: scale(80%);
    }
}

@media screen and (min-width: 768px) {
    label {
        display: none;
    }

    header nav ul {
        margin-right: 2em;
    }

    header nav ul li {
        display: inline-block;
        margin: 0 0 1em 1em;
    }
}


/* MAIN - INDEX */
#banner {
    color: white;
    line-height: 1.3;
    background: grey url("../images/banner.jpg") no-repeat center;
    background-size: cover;
    padding: 2rem;
    box-shadow: inset 10px 10px 250px 10px #444040;
    text-shadow: 1px 1px #444040;
}

#banner p:first-child {
    font-size: 5.5rem;
    padding: 1rem 0;
}

#banner p:nth-child(2) {
    font-size: 1.8rem;
    line-height: 2;
    padding: 1rem 0;
}

#banner button {
    box-shadow: 0 0 0 0 #444040c5;
    animation: shadow 1s ease-in-out infinite;
}

@keyframes shadow {
    0%{box-shadow: 0 0 2px 0px #444040c5; }
    20%{box-shadow: 0 0 4px 6px #444040c5; }
    40%{box-shadow: 0 0 6px 8px #444040c5; }
    60%{box-shadow: 0 0 6px 8px #444040c5; }
    80%{box-shadow: 0 0 4px 6px #444040c5;}
    100%{box-shadow: 0 0 2px 0px #444040c5; }
} 

#main, #emoji {
    padding: 2rem 1rem;
    text-align: center;
}

#main p, #emoji p {
    padding: 1rem 4rem;
}

#main div, #emoji div {
    margin: 2rem 0;
}

#scrivici {
    width: 100%;
    background-color: #0c0633;
    color: white;
    text-align: center;
    padding: 7rem 0;
    margin: 1rem 0;
}

#scrivici h2 {
    padding: 1rem 6rem;
}

#scrivici p {
    padding: 2rem;
}

/* MAIN - CHI SIAMO */

#chi-siamo, #contatti {
    padding: 3.5rem 2rem;
    text-align: center;
}

#chi-siamo p {
    padding: 2rem 0;
}

#chi-siamo img {
    max-width: fit-content;
}

#table-landscape {
    display: none;
}

#table-portrait {
    text-align: left;
}

#table-portrait th {
    font-weight: bold;
    padding: 0 0.8rem;
}

#table-portrait tr:nth-child(-n+3) {
    background-color: #d2dce7;
}

#table-portrait tr:nth-last-child(-n+3) {
    background-color: #d2dce7;
}

#chi-siamo caption {
    padding: 1.5rem 0;
}

/* MAIN - CONTATTI */
#contatti form fieldset {
    padding: 2rem 0;
}

#contatti input, #contatti textarea {
    border: 1px solid #aaa1a1;
    border-radius: 3px;
    box-shadow: 0.5px 0.5px 1px 0 #5e5a5ac5;
    margin: 1rem 0;
    padding: 1rem;
    width: 90%;
    color:#444040;
    font-style: italic;
}

#contatti h2, #contatti p {
    padding: 1rem 2rem;
}

#contatti a {
    text-decoration: none;
    color: #000;
}

#contatti button a {
    color: white;
}

#contatti address div {
    padding: 2rem 0;
}

/* FOOTER */
footer {
    background-color: rgb(238, 238, 238);
    padding: 4.5rem;
}

#footer-left p:first-child, #social p, footer label {
    font-size: 2.5rem;
    padding: 1rem 0;
}

#social p {
    padding: 2rem 0 0 0;
}

footer p i {
    font-size: 3.5rem;
}

footer form {
    padding: 4rem 0 1rem 0;
}

footer input, footer button {
    width: 100%;
}

footer input {
    height: 5rem;
    border: 0.5px solid #444040;
    margin: 1rem 0 0 0;
}

footer button {
    margin: 0 0 2rem 0;
}

/* RESPONSIVE */

@media screen and (min-width: 768px) {

    /* INDEX */
    #banner {
        padding: 10rem;
    }

    #main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr auto;
    } 

    #main div:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    #main h2 ~ p {
        text-align: left;
        padding: 1.5rem;
    }

    #emoji {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        column-gap: 1.5rem;
    }

    #emoji img {
        max-height: fit-content;
        grid-row-start: 1;
        grid-row-end: 6;
    }

    #emoji div {
        padding: 1rem;
        margin: 0;
        text-align: left;
    }

    #emoji div p {
        padding: 0.5rem;
        text-align: left;
    }

    /* CHI-SIAMO */
    #img {
        display: flex;
    }

    #img div {
        padding: 0 1rem;
    }

    #img img {
        height: 60%;
        margin: 0;
    }

    #table-portrait {
        display: none;
    }

    #table-landscape {
        display: inline-table;
    }

    #table-landscape th {
        color: white;
        background-color: #657d86;
        text-transform: uppercase;
        padding: 2rem;
    }

    #table-landscape td {
        padding: 2rem;
    }

    #table-landscape tr:nth-child(odd) {
        background-color: #abd8e9;
    }

    /* CONTATTI */
    #contatti section {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

    #contatti form {
        grid-row-start: 1;
        grid-row-end: 4;
    }

    #contatti h1 {
        padding: 1.5rem 0;
    }

    #contatti h2 {
        padding: 0;
    }

    #contatti form fieldset {
        padding: 0;
    }

    /* FOOTER */
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 3rem 2rem;
    }

    #social p, #footer-left p:first-child, footer form, footer form fieldset label, footer form fieldset input {
        margin: 0;
        padding: 0;
    }

    footer div:last-child {
        grid-column-start: 1;
        grid-column-end: 4;
        text-align: center;
    }
}

@media screen and (min-width: 1200px) {
    /* INDEX */
    #emoji {
        width: 70%;
        margin: 0 auto;
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto;
        gap: 2rem;
    }

    #emoji img {
        grid-row-start: 1;
        grid-row-end: 4;
    }

     /* CHI-SIAMO */
     #table-landscape {
        width: 100%;
     }
}
