/* IMPOSTAZIONI GENERALI */
body {      
    font: 1.5rem/1.8 'Fira Sans', sans-serif;
    color: #000;
    margin: 0 auto;
}

h1 {
    font-size: 4rem;
    line-height: 1.2;
}

h2 {
    font-size: 3.5rem;
    line-height: 1.1;
}

h3 {
    font-size: 3rem;
    line-height: 1;
}

* {box-sizing: border-box;}

i, a {
    color: #e42424;
}

button {
    width: fit-content;
    color: white;
    background-image: linear-gradient(to bottom, #6cc1e2, #392f7a);
}

/* HEADER */
header {
    background-color: white;
    box-shadow: 0 3px 3px #d3d3d3;
    padding: 1rem;  
    /* display: flex; */
    position: sticky;
    top: 0;
    z-index: 5;     
}

header img {
   /*  width: 100%;
    align-self: flex-start; */
}

/* nav {
} */

/* MAIN */
#banner {
    color: white;
    background: grey url("../images/banner.jpg") no-repeat;
    background-size: cover;
    padding: 2rem 1.5rem;
    box-shadow: inset 10px 10px 250px 10px #444040;
    text-shadow: 1px 1px #444040;
}

#banner p:first-child {
    font-size: 3rem;
    line-height: 1.2;
    padding: 1rem 0;
}

#banner p:nth-child(2){
    font-size: 1rem;
    line-height: 1.8;
}

/* FOOTER */

/* RESPONSIVE */
